package dayN

import (
	_ "embed"
	"strings"
)

func Solution(input string) (solution1, solution2 int) {
	if input == "" {
		input = strings.Trim(TEST_INPUT, "\r\n")
	}
	// Solution 1

	// Solution 2

	return
}

//go:embed test_data.txt
var TEST_INPUT string
